{
  "presets": [
    ["kyt-react", {
      "envOptions": {
        "client": {
          "modules": "commonjs"
        },
        "server": {
          "modules": "commonjs"
        }
      },
      "includeRuntime": true
    }],
    "flow"
  ],
  "plugins": [
    "emotion",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    ["module-resolver", {
      "root": ["./src"]
    }]
  ]
}
