{
  "presets": [
    ["babel-preset-kyt-react", { "includeRuntime": true }],
    "@babel/preset-flow"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties",
    "kyt-runtime/babel"
  ],
  "env": {
    "production": {
      "plugins": [["emotion", { "hoist": true }]]
    },
    "development": {
      "plugins": [["emotion", { "sourceMap": true, "autoLabel": true }]]
    },
    "test": {
      "plugins": [["emotion", { "hoist": true, "autoLabel": true }]]
    }
  }
}
